# npm lock file (v5.0.0+)
package-lock.json

# Ignore basic folders
/node_modules
/docs
/dist
/host

dist/main.js
dist/main.js.map.js

# TypeScript definitions installed by Typings
/typings

# Screeps Config
screeps.json

# ScreepsServer data from integration tests
/server

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

src/blueprints.json
src/manager.ts

# Editor folders
.vscode/
.vscode
.eslintrc.js
.editorconfig
.prettierrc
.gitignore
.env
